* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-heading {
  font-size: 40px;
  font-weight: bolder;
  color: #ffffff;
}